---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  heading: string;
  text?: string;
  className?: string;
}
const { heading, text, className, ...attrs } = Astro.props;
---

<div class={`space-y-6 md:space-y-8 ${className}`} {...attrs}>
  <h1 class="inline-block font-heading text-4xl lg:text-5xl text-primary dark:text-primary-dark">
    {heading}
  </h1>
  {text && <p class="text-lg md:text-xl text-muted-foreground dark:text-muted-foreground-dark">{text}</p>}
</div>
<hr class="my-4 border-border dark:border-border-dark" />
